
#grad {
    background-image: linear-gradient(to right,red,orange,yellow,green,blue,purple,rgb(209, 21, 52))
  }
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-element{
    width: 50rem; 
    margin-top: 5%;
}
